{namespace main}

/**
 */
{template .render}
	{@param content: ?}
	{@param site: ?}
	{@param? elementClasses: ?}

	<div class="{$elementClasses ?: 'main'}">
		<main class="content">
			{call Topbar.render}
				{param items: $site.topbar /}
				{param style: 'topbar-light' /}
				{param logo: [
					'text': 'Liferay Culture Book',
					'icon': 'icon-16-liferay-logo-2-tiny'
				] /}
			{/call}

			{$content}
		</main>
	</div>
{/template}
